<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facespace</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="header">
    <a href="/" target="_self">
      <h1 class='site-title'>Facespace</h1>
    </a>
    
    <button class="signin-button" onclick="location.href='/signin'">
      <% if (currentUser.name !== undefined) { %>
        <%= `Hello, ${currentUser.name}` %>
      <% } else { %>
        Sign In
      <% } %>
    </button>
      
  </header>