<!-- require header partial -->
<%- include('../partials/header') %>

<div class="homepage">
    <h2>All Facespace members</h2>
</div>

<!-- require footer partial -->
<%- include('../partials/footer') %>